<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <form method="post" autocomplete="off" action="/posts" >
        
        <div class="input">
            <h3>Enter Username:</h3>
            <input type="text" name="username" id="username" placeholder="Enter username">
        </div>
        <div class="input">
            <h3>Enter Content:</h3>
            <input type="text" name="content" id="content" placeholder="Enter content">
        </div>
        <button id="postButton">Post</button>
    </form>
</body>
</html>